---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=DONT_SHARE_MY_API_KEY&pageSize=10&query=cheese
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Umbrella-Request-Id:
      - cbe86d5bjmudkku5srig
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3562'
      X-Vcap-Request-Id:
      - a8cb32c1-73e1-49f1-60e8-7f8849258910
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":63656,"currentPage":1,"totalPages":6366,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"cheese","generalSearchInput":"cheese","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1943515,"description":"CHEESE","dataType":"Branded","gtinUpc":"853910006170","publishedDate":"2021-07-29","brandOwner":"Ferndale
        Farmstead LLC","brandName":"FERNDALE FARMSTEAD","ingredients":"MILK, SALT,
        CULTURES, ENZYMES.","marketCountry":"United States","foodCategory":"Cheese","modifiedDate":"2018-08-11","dataSource":"LI","packageWeight":"9.5
        oz/269 g","servingSizeUnit":"g","servingSize":28.399999618530273,"tradeChannels":["NO_TRADE_CHANNEL"],"allHighlightFields":"","score":599.58795,"microbes":[],"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":21.1,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":22991109},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":24.6,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":22991110,"percentDailyValue":11},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":2.46,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":22991111,"percentDailyValue":0},{"nutrientId":1008,"nutrie[...]
