{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.nal.usda.gov/fdc/v1/foods/search?pageSize=10&query=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "FDC_KEY"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Api-Umbrella-Request-Id": [
            "cbe7nsnqaoe2kab98ndg"
          ],
          "X-Ratelimit-Limit": [
            "3600"
          ],
          "X-Ratelimit-Remaining": [
            "3586"
          ],
          "X-Vcap-Request-Id": [
            "57e73329-9db0-471b-4bdc-6b49bc8631ab"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"totalHits\":468909,\"currentPage\":1,\"totalPages\":46891,\"pageList\":[1,2,3,4,5,6,7,8,9,10],\"foodSearchCriteria\":{\"query\":\"\",\"pageNumber\":1,\"numberOfResultsPerPage\":50,\"pageSize\":10,\"requireAllWords\":false},\"foods\":[{\"fdcId\":2353623,\"description\":\"A Low-Starch and High-Fiber Diet Intervention Impacts the Microbial Community of Raw Bovine Milk\",\"dataType\":\"Experimental\",\"publishedDate\":\"2022-10-28\",\"tags\":[\"Agricultural Practices\"],\"allHighlightFields\":\"\",\"score\":1.0,\"microbes\":[],\"foodNutrients\":[],\"finalFoodInputFoods\":[],\"foodMeasures\":[],\"foodAttributes\":[],\"foodAttributeTypes\":[],\"foodVersionIds\":[]},{\"fdcId\":2341752,\"description\":\"Abalone\",\"commonNames\":\"\",\"additionalDescriptions\":\"\",\"dataType\":\"Survey (FNDDS)\",\"foodCode\":26301110,\"publishedDate\":\"2022-10-28\",\"foodCategory\":\"Shellfish\",\"foodCategoryId\":2643175,\"allHighlightFields\":\"\",\"score\":1.0,\"microbes\":[],\"foodNutrients\":[{\"nutrientId\":1003,\"nutrientName\":\"Protein\",\"nutrientNumber\":\"203\",\"unitName\":\"G\",\"value\":21.2,\"rank\":600,\"indentLevel\":1,\"foodNutrientId\":28605004},{\"nutrientId\":1004,\"nutrientName\":\"Total lipid (fat)\",\"nutrientNumber\":\"204\",\"unitName\":\"G\",\"value\":6.12,\"rank\":800,\"indentLevel\":1,\"foodNutrientId\":28605005},{\"nutrientId\":1005,\"nutrientName\":\"Carbohydrate, by difference\",\"nutrientNumber\":\"205\",\"unitName\":\"G\",\"value\":7.46,\"rank\":1110,\"indentLevel\":2,\"foodNutrientId\":28605006},{\"nutrientId\":1008,\"nutrientName\":\"Energy\",\"nutrientNumber\":\"208\",\"unitName\":\"KCAL\",\"value\":177,\"ran[...]
