{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.nal.usda.gov/fdc/v1/foods/search?query=abalone",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "FDC_KEY"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Api-Umbrella-Request-Id": [
            "cbe7anupvtpo79c45bgg"
          ],
          "X-Ratelimit-Limit": [
            "3600"
          ],
          "X-Ratelimit-Remaining": [
            "3591"
          ],
          "X-Vcap-Request-Id": [
            "a37334c5-2b4f-43ae-7f8e-e2a07061710b"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"totalHits\":10,\"currentPage\":1,\"totalPages\":1,\"pageList\":[1],\"foodSearchCriteria\":{\"query\":\"abalone\",\"generalSearchInput\":\"abalone\",\"pageNumber\":1,\"numberOfResultsPerPage\":50,\"pageSize\":50,\"requireAllWords\":false},\"foods\":[{\"fdcId\":2341752,\"description\":\"Abalone\",\"commonNames\":\"\",\"additionalDescriptions\":\"\",\"dataType\":\"Survey (FNDDS)\",\"foodCode\":26301110,\"publishedDate\":\"2022-10-28\",\"foodCategory\":\"Shellfish\",\"foodCategoryId\":2643175,\"allHighlightFields\":\"\",\"score\":2111.4849,\"microbes\":[],\"foodNutrients\":[{\"nutrientId\":1003,\"nutrientName\":\"Protein\",\"nutrientNumber\":\"203\",\"unitName\":\"G\",\"value\":21.2,\"rank\":600,\"indentLevel\":1,\"foodNutrientId\":28605004},{\"nutrientId\":1004,\"nutrientName\":\"Total lipid (fat)\",\"nutrientNumber\":\"204\",\"unitName\":\"G\",\"value\":6.12,\"rank\":800,\"indentLevel\":1,\"foodNutrientId\":28605005},{\"nutrientId\":1005,\"nutrientName\":\"Carbohydrate, by difference\",\"nutrientNumber\":\"205\",\"unitName\":\"G\",\"value\":7.46,\"rank\":1110,\"indentLevel\":2,\"foodNutrientId\":28605006},{\"nutrientId\":1008,\"nutrientName\":\"Energy\",\"nutrientNumber\":\"208\",\"unitName\":\"KCAL\",\"value\":177,\"ran[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.nal.usda.gov/fdc/v1/foods/search?pageSize=10&query=abalone",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "FDC_KEY"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/js[...]
